
	<div class="loading" *ngIf="!user">
		Cargando...
	</div>
	<div class="container mt-3" *ngIf="user">
        <h1>{{ page_title }}</h1>
        <hr>
        <div class="row">
	        <div class="col-1" *ngIf="user && user.image">
					<img src="{{ url + 'user/avatar/'+ user.image }}" class="avatar_edit"/>
			</div>
			<div class="ml-5">
				<h3> {{ user.name + ' '+ user.surname}} </h3>
				<em> {{ user.email }} </em>
				<span [innerHtml] = "user.description" class="d-table" > </span>
			</div>
		</div>
	</div>

	<div class="container-fluid mt-3" *ngIf="user">
		<hr>
		<div class="loading" *ngIf="!posts">
			Cargando listado...
		</div>
		<div class="alert alert-warning" *ngIf="posts && posts.length == 0 ">
			No hay entradas del usuario.
		</div>
		<!-- LISTADO DE ENTRADAS -->
		<post-list 
			[posts]="posts"
			[identity]="identity" 
			[url]="url"

			>
		</post-list>
	</div>